@{
    ViewData["Title"] = "Index";
}
@model List<JobTitle>
<div class="container">
    <div class="row pt-4 pb3">
        <div class="col-6">
            <h1 class="text-primary">Employees</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="JobTitle" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add New
            </a>
        </div>
    </div>
    <table id="tblData" class="table table-striped" style="width:100%">
        <thead>

            <tr>
                <th>Job Title</th>
                <th>Basic Salary</th>
                <th>Salary Type</th>
                <th>Employee EPF</th>
                <th>Employer EPF</th>
                <th>Employer ETF</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
    @section Scripts{
        <script src="~/js/JobTitle.js"></script>
    }
</div>

