@{
    ViewData["Title"] = "Index";
}
@model List<OrderForm>
<div class="container">
    <div class="row pt-4 pb3">
        <div class="col-6">
            <h1 class="text-primary">Order Forms</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="OrderForm" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add New
            </a>
        </div>
    </div>
    <table id="tblData" class="table table-striped" style="width:100%">
        <thead>

            <tr>
                <th>Order Form No</th>
                <th>Shop Name</th>
                <th>Sales Executive</th>
                <th>Address</th>
                <th>Road</th>
                <th>Route</th>
                <th>Date</th>
                <th>Entered Date</th>
                <th>Required Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
    @section Scripts {
        <script src="~/js/OrderForm.js"></script>
    }
</div>

