@{
    ViewData["Title"] = "Index";
}
@model List<Product>
<div class="container">
    <div class="row pt-4 pb3">
        <div class="col-6">
            <h1 class="text-primary">Basic Salary Info</h1>
        </div>
    </div>
    <table id="tblData" class="table table-striped" style="width:100%">
        <thead>

            <tr>
                <th>C-ID</th>
                <th>Department</th>
                <th>Name</th>               
                <th>NIC</th>
                <th>Position</th>  
                <th>Basic Salary</th>
                <th>Salary Type</th>
                <th>Deductions EPF 8%</th>
                <th>EPF 12% + ETF 3%</th>
                <th>Monthly Basic Salary</th>
                <th>Worked Days</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
    @section Scripts{
        <script src="~/js/Product.js"></script>
    }
</div>

